@page "/characters"

<h3>Characters (@characters.Count)</h3>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Name</th>
            </tr>
        </thead>
        
            @foreach (var character in characters)
            {
                <tbody>
                    <tr>
                        <td>@character.Name</td>
                    </tr>
                </tbody>
                
            }
        
    </table>
</div>

<input placeholder="Make a character" @bind="newCharacter" />
<button @onclick="Addcharacter">Add Character</button>

@code {
    private List<Character> characters = new();
    private string ? newCharacter;
    private void Addcharacter(){
        
        if (!string.IsNullOrWhiteSpace(newCharacter))
        {
            characters.Add(new Character {Name = newCharacter});
            newCharacter = string.Empty;
        }
    }

} 
